@import "./gw-theme--cloud-banff";

$high-contrast--lightest-gray: #757575;

$gw-app--bg: #FFFFFF;
$gw-app--col: #000000;
$gw-app--border--col: $high-contrast--lightest-gray;

$gw-app--palette--red: #D73E2D;
$gw-app--palette--green: #1C8721;
$gw-app--palette--orange: #B3610F;
$gw-app--palette--blue: #4D73C7;
$gw-app--inputs--placeholder--col: $high-contrast--lightest-gray;

$gw-app--NorthPanel--active-tab-bottom-bar-bg: #FFFFFF;

$gw-app--panels--bg: $gw-app--bg;
$gw-app--panels--col: $gw-app--col;