@import "./jutro_6-5-scaler";

$JUTRO--ACCORDION-BORDER-ERROR: 1px solid $JUTRO--COLOR-ERROR !default;
$JUTRO--ACCORDION-BORDER-FOCUS: 1px solid $JUTRO--FOCUS-COLOR !default;
$JUTRO--APP-SWITCHER-FOOTER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--APP-SWITCHER-FOOTER-HEIGHT: $JUTRO--HELP-POPOVER-FOOTER-HEIGHT !default;
$JUTRO--APP-SWITCHER-GROUP-HEADING: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--AVATAR-BACKGROUND-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--AVATAR-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--AVATAR-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--AVATAR-BORDER-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--AVATAR-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BADGE-INVERSE-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--BADGE-INVERSE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--BADGE-NOTIFICATION-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BADGE-PRIMARY-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--BADGE-PRIMARY-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BREADCRUMB-DIVIDER-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--BURGER-SIDEBAR-BACKDROP-BACKGROUND-COLOR: rgba(0, 0, 0, 0.7) !default;
$JUTRO--BURGER-SIDEBAR-BACKGROUND-COLOR-ACTIVE: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--BURGER-SIDEBAR-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--BURGER-SIDEBAR-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--BURGER-SIDEBAR-FOCUS: $JUTRO--HIGHLIGHT-COLOR-1 !default;
$JUTRO--BURGER-SIDEBAR-Z-INDEX: $JUTRO--Z-INDEX-4 !default;
$JUTRO--BUTTON-FILLED-BACKGROUND-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--BUTTON-FILLED-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--BUTTON-FILLED-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--BUTTON-FILLED-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BUTTON-INVERSE-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BUTTON-OUTLINED-BACKGROUND-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--BUTTON-OUTLINED-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--BUTTON-OUTLINED-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--BUTTON-OUTLINED-BORDER-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--BUTTON-OUTLINED-BORDER-WIDTH: $JUTRO--BORDER-WIDTH !default;
$JUTRO--BUTTON-OUTLINED-COLOR-HOVER: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--BUTTON-OUTLINED-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--BUTTON-TEXT-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--CARD-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--CARD-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--CARD-PADDING: $JUTRO--LAYOUT-4 !default;
$JUTRO--CLICKABLE-ELEMENT-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR-HOVER !default;
$JUTRO--CLICKABLE-ELEMENT-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--CLICKABLE-ELEMENT-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--COLOR-SWATCH-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--COLOR-SWATCH-TITLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--COLUMN-ENTRY-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR-ELEMENT-HOVER !default;
$JUTRO--COLUMN-ENTRY-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--CONSUMER-HEADER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--CONSUMER-HEADER-BORDER-BOTTOM-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--CUBE-LOADER-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--CURRENCY-FIELD-SYMBOL-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--DATA-TABLE-CLICKABLE-ROW-BACKGROUND-COLOR-SELECTED: $JUTRO--HIGHLIGHT-COLOR-1 !default;
$JUTRO--DATA-TABLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--DATA-TABLE-COLUMN-HEADER-COLOR-SELECTED: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--DATA-TABLE-NO-ROWS-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--DATA-TABLE-ROW-BACKGROUND-COLOR-HOVER: $JUTRO--HIGHLIGHT-COLOR-1 !default;
$JUTRO--DATA-TABLE-ROW-EVEN-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--DATA-TABLE-ROW-ODD-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--DATA-TABLE-TABLE-BAR-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--DATE-FIELD-MONTH-YEAR-CONTROLS-BACKGROUND-COLOR-FOCUS: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--DATE-FIELD-MONTH-YEAR-CONTROLS-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--DATE-FIELD-MONTH-YEAR-CONTROLS-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--DATE-FIELD-POPOVER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--DATE-FIELD-TODAY-BUTTON-BACKGROUND-COLOR-ACTIVE: $JUTRO--BACKGROUND-COLOR-ELEMENT-ACTIVE !default;
$JUTRO--DATE-FIELD-TODAY-BUTTON-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR-ELEMENT-HOVER !default;
$JUTRO--DATE-FIELD-TODAY-BUTTON-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--DROPDOWN-MENU-AVATAR-SUBTITLE-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--DROPDOWN-MENU-AVATAR-TITLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--DROPDOWN-OPTION-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--DROPDOWN-OPTION-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--DROPDOWN-OPTION-SELECTED-BACKGROUND-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--DROPDOWN-OPTION-SELECTED-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--DROPDOWN-OPTION-SELECTED-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--DROPDOWN-OPTION-SELECTED-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--FIELD-COMPONENT-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--FIELD-COMPONENT-BORDER-COLOR-FOCUS: $JUTRO--FOCUS-COLOR !default;
$JUTRO--FIELD-COMPONENT-COLOR-EMPTY: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--FIELD-COMPONENT-COLOR-SECONDARY: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--FIELD-COMPONENT-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--FIELD-COMPONENT-PLACEHOLDER-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--FIELD-COMPONENT-REQUIRED-SYMBOL-COLOR: $JUTRO--FIELD-COMPONENT-COLOR !default;
$JUTRO--FILE-UPLOAD-FIELD-BORDER: $JUTRO--BORDER-WIDTH dashed $JUTRO--BORDER-COLOR !default;
$JUTRO--FILE-UPLOAD-WRAPPER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--FILTER-BAR-BADGE-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--FILTER-BAR-FILTERS-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--FOOTER-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-2 !default;
$JUTRO--FOOTER-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--GLOBALIZATION-CHOOSER-BACKGROUND-COLOR: $JUTRO--FIELD-COMPONENT-BACKGROUND-COLOR !default;
$JUTRO--GLOBALIZATION-CHOOSER-COLOR: $JUTRO--FIELD-COMPONENT-COLOR !default;
$JUTRO--GLOBALIZATION-CHOOSER-HEIGHT: $JUTRO--FIELD-COMPONENT-HEIGHT !default;
$JUTRO--HEADER-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-2 !default;
$JUTRO--HEADER-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--HEADER-SEARCH-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--HEADER-SEARCH-HEIGHT: $JUTRO--FIELD-COMPONENT-HEIGHT !default;
$JUTRO--HELP-POPOVER-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--HELP-POPOVER-LINK-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--HELP-POPOVER-Z-INDEX: $JUTRO--Z-INDEX-2 !default;
$JUTRO--ICON-BUTTON-NEUTRAL-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--IMAGE-CAPTION-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--IMAGE-RADIO-BUTTON-ICON-BORDER-SELECTED: $JUTRO--BORDER-WIDTH solid $JUTRO--merge--IMAGE-RADIO-BUTTON-ICON-BORDER-SELECTED-COLOR !default;
$JUTRO--IMAGE-RADIO-BUTTON-IMAGE-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--INFO-LABEL-NEUTRAL-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--INFO-LABEL-NEUTRAL-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--INLINE-LOADER-SPINNER-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--LINK-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--LINK-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--LINK-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--LOGO-TITLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--LOOKUP-FIELD-RECENT-BAR-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--MODAL-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--MODAL-BODY-PADDING: $JUTRO--LAYOUT-5 $JUTRO--LAYOUT-5 $JUTRO--LAYOUT-6 !default;
$JUTRO--MODAL-CLOSE-BUTTON-MARGIN-TOP: $JUTRO--SPACING-5 !default;
$JUTRO--MODAL-FOOTER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--MODAL-FOOTER-PADDING: $JUTRO--LAYOUT-4 !default;
$JUTRO--MODAL-HEADER-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--MODAL-HEADER-PADDING-BOTTOM: $JUTRO--LAYOUT-1 !default;
$JUTRO--MODAL-HEADER-PADDING-HORIZONTAL: $JUTRO--LAYOUT-5 !default;
$JUTRO--MODAL-HEADER-PADDING-TOP: $JUTRO--LAYOUT-6 !default;
$JUTRO--MODAL-HEADER-SUBTITLE-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--PAGINATION-BUTTON-BACKGROUND-COLOR: $JUTRO--HIGHLIGHT-COLOR-1 !default;
$JUTRO--PAGINATION-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--PAGINATION-DROPDOWN-BACKGROUND-COLOR-ACTIVE: $JUTRO--BACKGROUND-COLOR-ELEMENT-ACTIVE !default;
$JUTRO--PAGINATION-DROPDOWN-BACKGROUND-COLOR-FOCUS: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--PAGINATION-DROPDOWN-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR-ELEMENT-HOVER !default;
$JUTRO--PAGINATION-DROPDOWN-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--PANEL-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--PANEL-SUBTITLE-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--PANEL-TITLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--POPOVER-FOOTER-ICON-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--POPOVER-FOOTER-PADDING: $JUTRO--SPACING-4 !default;
$JUTRO--POPOVER-FOOTER-SPACING: $JUTRO--SPACING-4 !default;
$JUTRO--POPOVER-HEADER-PADDING: $JUTRO--SPACING-4 !default;
$JUTRO--POPOVER-HEADER-SPACING: $JUTRO--SPACING-4 !default;
$JUTRO--POPOVER-PANEL-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--PROGRESS-BARS-COMPLETE-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--PROGRESS-BARS-COMPLETE-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--PROGRESS-BARS-LEFT-BAR-COLOR: $JUTRO--SEPARATOR-COLOR !default;
$JUTRO--PROGRESS-BARS-LEFT-COLOR-FOCUS: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--PROGRESS-BARS-LEFT-COLOR-HOVER: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--PROGRESS-BARS-LEFT-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--PROGRESS-BARS-STATUS-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--PROGRESS-STEP-MARKER-SIZE: $JUTRO--SPACING-6 !default;
$JUTRO--RADIO-BUTTON-CARD-MONEY-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--RADIO-BUTTON-PRIMARY-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--RADIO-BUTTON-SECONDARY-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--RIGHT-SIDEBAR-BAR-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--RIGHT-SIDEBAR-ITEM-BACKGROUND-COLOR-ACTIVE: $JUTRO--BACKGROUND-COLOR-ELEMENT-ACTIVE !default;
$JUTRO--RIGHT-SIDEBAR-SIDE-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SELECTOR-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SELECTOR-COLOR-FOCUS: $JUTRO--FOCUS-COLOR !default;
$JUTRO--SELECTOR-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SELECTOR-SELECTED-BACKGROUND-COLOR-ACTIVE: $JUTRO--BRAND-COLOR-1-ACTIVE !default;
$JUTRO--SELECTOR-SELECTED-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--SELECTOR-SELECTED-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--SELECTOR-SELECTED-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--SIDE-NAV-ACCORDION-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SIDE-NAV-BACKGROUND-COLOR-ACTIVE: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--SIDE-NAV-BORDER-COLOR-SELECTED: $JUTRO--FOCUS-COLOR-LIGHT !default;
$JUTRO--SIDE-NAV-CHEVRON-COLOR-ACTIVE: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-CHEVRON-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-COLOR-ACTIVE: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-COLOR-HOVER: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-CONTENT-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SIDE-NAV-DOT-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--SIDE-NAV-ITEM-BACKGROUND-COLOR-ACTIVE: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--SIDE-NAV-ITEM-BACKGROUND-COLOR-HOVER: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--SIDE-NAV-ITEM-COLOR-ACTIVE: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-ITEM-COLOR-HOVER: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-ITEM-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SIDE-NAV-SUB-ITEM-BACKGROUND-COLOR-HOVER: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--SIDE-NAV-ITEM-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SLIDER-FIELD-HANDLE-BACKGROUND-COLOR-HOVER: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--SLIDER-FIELD-INDICATOR-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--SLIDER-FIELD-RAIL-BACKGROUND-COLOR: $JUTRO--SEPARATOR-COLOR !default;
$JUTRO--SLIDER-FIELD-TOOLTIP-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--SLIDER-FIELD-TRACK-BACKGROUND-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--STICKY-FOOTER-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--SWITCH-FIELD-BACKGROUND-COLOR-CHECKED: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--SWITCH-FIELD-BACKGROUND-COLOR-HOVER-CHECKED: $JUTRO--BRAND-COLOR-1-HOVER !default;
$JUTRO--TAB-BAR-HEADING-BORDER-COLOR-ACTIVE: $JUTRO--ACCENT-COLOR !default;
$JUTRO--TAB-BAR-HEADING-COLOR-HOVER: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--TAB-BAR-HEADING-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TABLE-CARD-EVEN-ROW-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--TABLE-CARD-ODD-ROW-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-BODY !default;
$JUTRO--TABLE-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TABLE-NO-DATA-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--TABLE-ROW-COLOR-HOVER: $JUTRO--HIGHLIGHT-COLOR-1 !default;
$JUTRO--TABLE-TITLE-BAR-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TABLE-VIEW-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TABLE-VIEW-TABLE-SEPARATOR: solid 1px $JUTRO--SEPARATOR-COLOR !default;
$JUTRO--TABLE-VIEW-TITLE-BAR-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TAG-BACKGROUND-COLOR-ACTIVE: $JUTRO--BACKGROUND-COLOR-ELEMENT-ACTIVE !default;
$JUTRO--TAG-BACKGROUND-COLOR-HOVER: $JUTRO--BACKGROUND-COLOR-ELEMENT-HOVER !default;
$JUTRO--TAG-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR-ELEMENT !default;
$JUTRO--TAG-BUTTON-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--TOAST-TOP: $JUTRO--HEADER-HEIGHT !default;
$JUTRO--TOGGLE-FIELD-COLOR: $JUTRO--TEXT-COLOR-2 !default;
$JUTRO--TOOLTIP-COLOR: $JUTRO--TEXT-COLOR-3 !default;
$JUTRO--TOOLTIP-ICON-COLOR: $JUTRO--BRAND-COLOR-1 !default;
$JUTRO--TOP-NAV-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--TOP-NAV-ITEM-BACKGROUND-COLOR-ACTIVE: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--TOP-NAV-ITEM-BACKGROUND-COLOR-HOVER: $JUTRO--HIGHLIGHT-COLOR-2 !default;
$JUTRO--TOP-NAV-ITEM-BACKGROUND-COLOR: $JUTRO--BACKGROUND-COLOR !default;
$JUTRO--TOP-NAV-ITEM-COLOR-ACTIVE: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TOP-NAV-ITEM-COLOR: $JUTRO--TEXT-COLOR-1 !default;
$JUTRO--TOP-NAV-ITEM-FOCUS-OUTLINE-COLOR: $JUTRO--FOCUS-COLOR-LIGHT !default;
