$JUTRO--ACCENT-COLOR: #65c6c4 !default;

$JUTRO--ACCORDION-MIN-HEIGHT: 2rem !default;
$JUTRO--ANIMATION-DURATION: 0.25s !default;
$JUTRO--APP-SWITCHER-LABEL-WIDTH: 12rem !default;
$JUTRO--APP-SWITCHER-MODAL-WIDTH: 20rem !default;
$JUTRO--APP-SWITCHER-POPOVER-MAX-HEIGHT: 36rem !default;
$JUTRO--APP-SWITCHER-POPOVER-WIDTH: 17rem !default;
$JUTRO--ASYNC-BUTTON-LINK-MIN-WIDTH: 4rem !default;
$JUTRO--AVATAR-SIZE: 2rem !default;
$JUTRO--BACKGROUND-COLOR-BODY: #f8f9fa !default;
$JUTRO--BACKGROUND-COLOR-ELEMENT-ACTIVE: #d1d9e2 !default;
$JUTRO--BACKGROUND-COLOR-ELEMENT-HOVER: #e1e6ec !default;
$JUTRO--BACKGROUND-COLOR-ELEMENT: #f0f3f6 !default;
$JUTRO--BACKGROUND-COLOR-HOVER: #f2f2f2 !default;
$JUTRO--BACKGROUND-COLOR: #fff !default;
$JUTRO--BADGE-NOTIFICATION-BACKGROUND-COLOR: #c4221f !default;
$JUTRO--BADGE-NOTIFICATION-BORDER: #fff 1px solid !default;
$JUTRO--BORDER-COLOR: #7d91ac !default;
$JUTRO--BORDER-RADIUS-FULL: 9999px !default;
$JUTRO--BORDER-RADIUS: 4px !default;
$JUTRO--BORDER-WIDTH: 2px !default;
$JUTRO--BRAND-COLOR-1-ACTIVE: #004e6a !default;
$JUTRO--BRAND-COLOR-1-HOVER: #006083 !default;
$JUTRO--BRAND-COLOR-1: #00739d !default;
$JUTRO--BRAND-COLOR-2: #3c4c5e !default;
$JUTRO--BREAKPOINT-PHONE: 580px !default;
$JUTRO--BREAKPOINT-PHONEWIDE: 768px !default;
$JUTRO--BREAKPOINT-TABLET: 1024px !default;
$JUTRO--BURGER-MENU-BUTTON-SIZE: 2rem !default;
$JUTRO--BURGER-SIDEBAR-BACKGROUND-COLOR-HOVER: #d8f1ef !default;
$JUTRO--BURGER-SIDEBAR-HEIGHT: 100vh !default;
$JUTRO--BURGER-SIDEBAR-WIDTH: 19.5rem !default;
$JUTRO--BUTTON-HEIGHT-SMALL: 1.75rem !default;
$JUTRO--BUTTON-HEIGHT: 2rem !default;
$JUTRO--BUTTON-INVERSE-BACKGROUND-COLOR-ACTIVE: rgba(255, 255, 255, 0.2) !default;
$JUTRO--BUTTON-INVERSE-BACKGROUND-COLOR-HOVER: rgba(255, 255, 255, 0.1) !default;
$JUTRO--BUTTON-INVERSE-BACKGROUND-COLOR: transparent !default;
$JUTRO--CHECKBOX-SIZE: 1rem !default;
$JUTRO--CHEVRON-SIZE: 1.25rem !default;
$JUTRO--CLICKABLE-ELEMENT-BACKGROUND-COLOR-ACTIVE: #e6e6e6 !default;
$JUTRO--COLOR-ERROR-CONTRAST: #fff !default;
$JUTRO--COLOR-ERROR: #c4221f !default;
$JUTRO--COLOR-INFO-CONTRAST: #fff !default;
$JUTRO--COLOR-INFO: #4074ce !default;
$JUTRO--COLOR-SUCCESS-CONTRAST: #fff !default;
$JUTRO--COLOR-SUCCESS: #2a8440 !default;
$JUTRO--COLOR-SWATCH-HEIGHT: 1.25rem !default;
$JUTRO--COLOR-SWATCH-WIDTH: 4.375rem !default;
$JUTRO--COLOR-WARNING-CONTRAST: #111 !default;
$JUTRO--COLOR-WARNING: #ff9d2e !default;
$JUTRO--COLUMN-ENTRY-HEIGHT: 1.5rem !default;
$JUTRO--COLUMN-ENTRY-WIDTH: 29.5rem !default;
$JUTRO--CONSUMER-HEADER-PHONE-HEIGHT: 3rem !default;
$JUTRO--CONTEXT-SWITCHER-BACKGROUND-COLOR-ACTIVE: #cff2ff !default;
$JUTRO--CONTEXT-SWITCHER-HEIGHT: 1.75rem !default;
$JUTRO--CONTEXT-SWITCHER-WIDTH: 13rem !default;
$JUTRO--CUBE-LOADER-SIZE-ELEMENT: 21px !default;
$JUTRO--DATA-TABLE-BORDER: solid 1px #acb9ca !default;
$JUTRO--DATA-TABLE-BUTTON-SIZE: 1.25rem !default;
$JUTRO--DATA-TABLE-CLICKABLE-ROW-BACKGROUND-COLOR-ACTIVE: #cff2ff !default;
$JUTRO--DATA-TABLE-EXPANDER-ICON-WIDTH: 1.125rem !default;
$JUTRO--DATA-TABLE-ROW-MIN-HEIGHT: 2rem !default;
$JUTRO--DATA-TABLE-SEARCH-MAX-WIDTH: 20rem !default;
$JUTRO--DATA-TABLE-SORT-CHEVRON-COLOR: #7d91ac !default;
$JUTRO--DATA-VIEWS-PAGINATION-ICON-SIZE: 1.5rem !default;
$JUTRO--DATE-FIELD-DAY-NAME-SIZE: 2rem !default;
$JUTRO--DATE-FIELD-DAY-OUTSIDE-MONTH-COLOR: #7d91ac !default;
$JUTRO--DATE-FIELD-NAVIGATION-BUTTON-ICON-SIZE: 1.5rem !default;
$JUTRO--DATE-FIELD-NAVIGATION-BUTTON-SIZE: 2rem !default;
$JUTRO--DATE-FIELD-TODAY-BUTTON-COLOR-OUTOFRANGE: #7d91ac !default;
$JUTRO--DROPDOWN-MENU-AVATAR-WIDTH: 18rem !default;
$JUTRO--DROPDOWN-MENU-MAX-WIDTH: 25rem !default;
$JUTRO--DROPDOWN-MENU-MIN-WIDTH: 10rem !default;
$JUTRO--DROPDOWN-MENU-SEPARATOR: solid 1px #7d91ac !default;
$JUTRO--DROPDOWN-OPTION-BACKGROUND-COLOR-ACTIVE: #b6ebff !default;
$JUTRO--DROPDOWN-OPTION-BACKGROUND-COLOR-HOVER: #cff2ff !default;
$JUTRO--FIELD-COMPONENT-HEIGHT: 2rem !default;
$JUTRO--FIELD-COMPONENT-VALID-COLOR: #1e9acf !default;
$JUTRO--FIELD-COMPONENT-VALIDATION-ICON-COLOR: #fff !default;
$JUTRO--FILE-UPLOAD-HEIGHT-THIN: 2.375rem !default;
$JUTRO--FILE-UPLOAD-IMAGE-HEIGHT: 4rem !default;
$JUTRO--FILE-UPLOAD-IMAGE-WIDTH: 5.5rem !default;
$JUTRO--FILTER-BAR-INPUT-MIN-WIDTH: 14.5rem !default;
$JUTRO--FOCUS-COLOR-DARK: #1e9acf !default;
$JUTRO--FOCUS-COLOR-LIGHT: #1e9acf !default;
$JUTRO--FOCUS-COLOR: #1e9acf !default;
$JUTRO--FOCUS-ERROR-COLOR-DARK: rgb(230, 154, 207) !default;
$JUTRO--FOCUS-ERROR-COLOR-LIGHT: rgb(196, 34, 31) !default;
$JUTRO--FONT-SIZE-BODY: 0.875rem !default;
$JUTRO--FONT-SIZE-BUTTON: 0.875rem !default;
$JUTRO--FONT-SIZE-H1: 2rem !default;
$JUTRO--FONT-SIZE-H2: 1.5rem !default;
$JUTRO--FONT-SIZE-H3: 1.25rem !default;
$JUTRO--FONT-SIZE-H4: 1rem !default;
$JUTRO--FONT-SIZE-H5: 0.875rem !default;
$JUTRO--FONT-SIZE-INPUT: 0.875rem !default;
$JUTRO--FONT-SIZE-LABEL: 0.875rem !default;
$JUTRO--FONT-SIZE-SECONDARY-LABEL: 0.75rem !default;
$JUTRO--FONT-SIZE-SUBTEXT: 0.75rem !default;
$JUTRO--FONT-WEIGHT-BLACK: 900 !default;
$JUTRO--FONT-WEIGHT-BOLD: 700 !default;
$JUTRO--FONT-WEIGHT-EXTRA-BOLD: 800 !default;
$JUTRO--FONT-WEIGHT-EXTRA-LIGHT: 200 !default;
$JUTRO--FONT-WEIGHT-LIGHT: 300 !default;
$JUTRO--FONT-WEIGHT-MEDIUM: 500 !default;
$JUTRO--FONT-WEIGHT-REGULAR: 400 !default;
$JUTRO--FONT-WEIGHT-SEMI-BOLD: 600 !default;
$JUTRO--FONT-WEIGHT-THIN: 100 !default;
$JUTRO--FOOTER-LINK-BORDER-COLOR-FOCUS: #fff !default;
$JUTRO--GENERIC-SELECT-MAX-HEIGHT: 11.25rem !default;
$JUTRO--GENERIC-SELECT-MENU-MAX-HEIGHT: 300px !default;
$JUTRO--GLOBALIZATION-CHOOSER-MIN-WIDTH: 7.5rem !default;
$JUTRO--HEADER-AVATAR-BORDER-COLOR-FOCUS: #fff !default;
$JUTRO--HEADER-AVATAR-SIZE: 1.75rem !default;
$JUTRO--HEADER-BUTTON-FOCUS-BORDER-COLOR: #fff !default;
$JUTRO--HEADER-BUTTON-HEIGHT: 2rem !default;
$JUTRO--HEADER-HEIGHT: 3.5rem !default;
$JUTRO--HEADER-LOGO-SIZE: 2.5rem !default;
$JUTRO--HEADER-SEARCH-BACKGROUND-COLOR-HOVER: rgb(220, 220, 220) !default;
$JUTRO--HEADER-SEARCH-BACKGROUND-COLOR: #46596e !default;
$JUTRO--HEADER-SEARCH-BORDER-COLOR-FOCUS: #fff !default;
$JUTRO--HEADER-SEARCH-CANCEL-ICON-COLOR: #7d91ac !default;
$JUTRO--HEADER-SEARCH-MAX-WIDTH: 22.5rem !default;
$JUTRO--HEADER-SEARCH-SELECT-ICON-COLOR: #fff !default;
$JUTRO--HELP-POPOVER-FOOTER-HEIGHT: 2.5rem !default;
$JUTRO--HELP-POPOVER-MAX-HEIGHT: 25.5rem !default;
$JUTRO--HELP-POPOVER-WIDTH: 17rem !default;
$JUTRO--HIGHLIGHT-COLOR-1: #e9f9ff !default;
$JUTRO--HIGHLIGHT-COLOR-2: #ebf8f7 !default;
$JUTRO--ICON-BUTTON-HEIGHT: 2rem !default;
$JUTRO--ICON-BUTTON-WIDTH: 2rem !default;
$JUTRO--ICON-FONT-SIZE-1: 0.875rem !default;
$JUTRO--ICON-FONT-SIZE-2: 1rem !default;
$JUTRO--ICON-FONT-SIZE-3: 1.25rem !default;
$JUTRO--ICON-LINE-HEIGHT: 1 !default;
$JUTRO--IMAGE-CAPTION-BACKGROUND-COLOR: #111 !default;
$JUTRO--IMAGE-RADIO-BUTTON-IMAGE-OPACITY-HOVER: 0.4 !default;
$JUTRO--INFO-LABEL-SIZE: 1.25rem !default;
$JUTRO--INLINE-NOTIFICATION-MIN-HEIGHT: 2.5rem !default;
$JUTRO--LAYOUT-10: 2.5rem !default;
$JUTRO--LAYOUT-12: 3rem !default;
$JUTRO--LAYOUT-1: 0.25rem !default;
$JUTRO--LAYOUT-2: 0.5rem !default;
$JUTRO--LAYOUT-3: 0.75rem !default;
$JUTRO--LAYOUT-4: 1rem !default;
$JUTRO--LAYOUT-5: 1.25rem !default;
$JUTRO--LAYOUT-6: 1.5rem !default;
$JUTRO--LAYOUT-8: 2rem !default;
$JUTRO--LINE-HEIGHT-BODY: 1.5 !default;
$JUTRO--LINE-HEIGHT-BUTTON: 1.5 !default;
$JUTRO--LINE-HEIGHT-H1: 1.25 !default;
$JUTRO--LINE-HEIGHT-H2: 1.25 !default;
$JUTRO--LINE-HEIGHT-H3: 1.25 !default;
$JUTRO--LINE-HEIGHT-H4: 1.25 !default;
$JUTRO--LINE-HEIGHT-H5: 1.5 !default;
$JUTRO--LINE-HEIGHT-INPUT: 1.5 !default;
$JUTRO--LINE-HEIGHT-LABEL: 1.5 !default;
$JUTRO--LINE-HEIGHT-SECONDARY-LABEL: 1.5 !default;
$JUTRO--LINE-HEIGHT-SUBTEXT: 1.5 !default;
$JUTRO--LINK-HEIGHT: 1.25rem !default;
$JUTRO--LOADER-Z-INDEX: 1000 !default;
$JUTRO--LOGO-TITLE-HEIGHT-DESKTOP: 2rem !default;
$JUTRO--LOGO-TITLE-HEIGHT-PHONE: 3rem !default;
$JUTRO--LOGO-TITLE-HEIGHT-TABLET: 2.5rem !default;
$JUTRO--LOOKUP-FIELD-ICON-BACKGROUND-SIZE: 1.25rem !default;
$JUTRO--LOOKUP-FIELD-ICON-COLOR: #7d91ac !default;
$JUTRO--MAP-AREA-ASPECT-RATIO: calc(100% * 13 / 24) !default;
$JUTRO--MODAL-HEADER-ICON-SIZE: 1.875rem !default;
$JUTRO--MODAL-HEADER-STATUS-LINE-HEIGHT: 0.125rem !default;
$JUTRO--MODAL-OVERLAY-BACKGROUND-COLOR: rgba(40, 51, 63, 0.64) !default;
$JUTRO--NOTIFICATION-ACTION-SIZE: 20rem !default;
$JUTRO--NOTIFICATION-DISMISS-BUTTON-SIZE: 1.25rem !default;
$JUTRO--OPACITY-DISABLED: 0.4 !default;
$JUTRO--PAGINATION-BUTTON-BACKGROUND-COLOR-ACTIVE: #618290 !default;
$JUTRO--PAGINATION-DROPDOWN-MAX-HEIGHT: 10rem !default;
$JUTRO--PHASE-BAR-WIDTH: 0.25rem !default;
$JUTRO--PHONE-NUMBER-FLAG-CONTAINER-WIDTH: 5.75rem !default;
$JUTRO--POPOVER-BODY-MIN-HEIGHT: 5rem !default;
$JUTRO--POPOVER-BODY-SPACING-Y: 0.875rem !default;
$JUTRO--POPOVER-CONTAINER-HEIGHT: 20rem !default;
$JUTRO--POPOVER-CONTAINER-WIDTH: 20rem !default;
$JUTRO--POPOVER-FOOTER-HEIGHT: 2rem !default;
$JUTRO--POPOVER-HEADER-HEIGHT: 2.5rem !default;
$JUTRO--POPOVER-HEADER-LINK-COLOR: #5a6872 !default;
$JUTRO--PROGRESS-BARS-COMPLETE-ICON-COLOR: #fff !default;
$JUTRO--PROGRESS-STEP-CURRENT-MARKER-RING-WIDTH: 0.375rem !default;
$JUTRO--RADIO-BUTTON-CARD-ICON-LINE-HEIGHT: 0.65rem !default;
$JUTRO--RADIO-BUTTON-CARD-LANDSCAPE-ICON-SIZE: 3rem !default;
$JUTRO--RADIO-BUTTON-CARD-PORTRAIT-ICON-SIZE: 4.5rem !default;
$JUTRO--RADIO-BUTTON-CARD-RADIO-BUTTON-SIZE: 1.25rem !default;
$JUTRO--RADIO-BUTTON-SIZE: 1rem !default;
$JUTRO--RELEASE-BADGE-DATA: unset !default;
$JUTRO--RELEASE-BADGE-URL: unset !default;
$JUTRO--RIGHT-SIDEBAR-SIDE-WIDTH: 20rem !default;
$JUTRO--SELECTOR-BACKGROUND-COLOR-ACTIVE: #b6ebff !default;
$JUTRO--SELECTOR-BACKGROUND-COLOR-HOVER: #cff2ff !default;
$JUTRO--SEPARATOR-COLOR: #d1d9e2 !default;
$JUTRO--SHADOW-1: 0 1px 1px 0 rgba(40, 51, 63, 0.24) !default;
$JUTRO--SHADOW-2: 0 2px 4px 0 rgba(40, 51, 63, 0.24) !default;
$JUTRO--SHADOW-3: 0 4px 8px 0 rgba(40, 51, 63, 0.24) !default;
$JUTRO--SHADOW-INSET: inset 0 0 1px 1px rgba(40, 51, 63, 0.24) !default;
$JUTRO--SHADOW-SIDE: 0 1px 6px 2.5px rgba(40, 51, 63, 0.24) !default;
$JUTRO--SHADOW-UP: 0 -2px 4px 0 rgba(40, 51, 63, 0.24) !default;
$JUTRO--SIDE-NAV-BORDER-COLOR: #7d91ac !default;
$JUTRO--SIDE-NAV-CHEVRON-SIZE: 1rem !default;
$JUTRO--SIDE-NAV-CHEVRON-WRAPPER-HEIGHT: 2rem !default;
$JUTRO--SIDE-NAV-CHEVRON-WRAPPER-WIDTH: 2rem !default;
$JUTRO--SIDE-NAV-COLLAPSED-WIDTH: 3rem !default;
$JUTRO--SIDE-NAV-DOT-BORDER-COLOR: #fff !default;
$JUTRO--SIDE-NAV-DOT-SIZE: 0.375rem !default;
$JUTRO--SIDE-NAV-ITEM-BADGE-MARGIN-COLLAPSED: 1rem 0 0 0 !default;
$JUTRO--SIDE-NAV-ITEM-ICON-SIZE: 1.25rem !default;
$JUTRO--SIDE-NAV-ITEM-LABEL-PADDING-LEFT: 0.75rem !default;
$JUTRO--SIDE-NAV-ITEM-PADDING: 0 0.875rem !default;
$JUTRO--SIDE-NAV-SUB-ITEM-PADDING: 0 0.875rem 0 2.875rem !default;
$JUTRO--SIDE-NAV-WIDTH: 16.5rem !default;
$JUTRO--SIMPLE-PROGRESS-BAR-MIN-HEIGHT: 0.25rem !default;
$JUTRO--SLIDER-FIELD-HANDLE-BORDER-COLOR-ACTIVE: #fff !default;
$JUTRO--SLIDER-FIELD-HANDLE-BOX-SHADOW-FOCUS: 0 0 0 1px #fff, 0 0 0 3px rgba(30, 154, 207, 0.4) !default;
$JUTRO--SLIDER-FIELD-HANDLE-DIAMETER: 1.25rem !default;
$JUTRO--SLIDER-FIELD-HEIGHT: 2.625rem !default;
$JUTRO--SLIDER-FIELD-RAIL-HEIGHT: 0.125rem !default;
$JUTRO--SPACING-10: 2rem !default;
$JUTRO--SPACING-1: 0.125rem !default;
$JUTRO--SPACING-2: 0.25rem !default;
$JUTRO--SPACING-3: 0.5rem !default;
$JUTRO--SPACING-4: 0.75rem !default;
$JUTRO--SPACING-5: 1rem !default;
$JUTRO--SPACING-6: 1.25rem !default;
$JUTRO--SPACING-8: 1.75rem !default;
$JUTRO--STEPPER-FIELD-WIDTH: 2rem !default;
$JUTRO--SUBHEADER-HEIGHT: 2.5rem !default;
$JUTRO--SWITCH-FIELD-BACKGROUND-COLOR-HOVER: #6d84a2 !default;
$JUTRO--SWITCH-FIELD-BACKGROUND-COLOR: #7d91ac !default;
$JUTRO--SWITCH-FIELD-HEIGHT: 1.25rem !default;
$JUTRO--SWITCH-FIELD-THUMB-COLOR: #fff !default;
$JUTRO--SWITCH-FIELD-WIDTH: 2.5rem !default;
$JUTRO--TAB-BAR-BACKGROUND-COLOR: none !default;
$JUTRO--TAB-BAR-HEADING-OUTLINE-COLOR-FOCUS: rgba(30, 154, 207, 0.4) !default;
$JUTRO--TAB-BAR-HEIGHT: 2rem !default;
$JUTRO--TAB-BAR-NAVIGATION-BUTTON-SIZE: 1.5rem !default;
$JUTRO--TABLE-VIEW-ROW-HEIGHT: 2.5rem !default;
$JUTRO--TAG-BUTTON-SIZE: 0.875rem !default;
$JUTRO--TAG-LABEL-MAX-WIDTH: 6.75rem !default;
$JUTRO--TAG-MIN-HEIGHT: 1.5rem !default;
$JUTRO--TEXT-COLOR-1: #28333f !default;
$JUTRO--TEXT-COLOR-2: #657580 !default;
$JUTRO--TEXT-COLOR-3: #fff !default;
$JUTRO--TEXTAREA-FIELD-MIN-HEIGHT: 1.5rem !default;
$JUTRO--TOOLTIP-BACKGROUND-COLOR: #28333f !default;
$JUTRO--TOOLTIP-LINK-COLOR-ACTIVE: #00abe9 !default;
$JUTRO--TOOLTIP-LINK-COLOR-HOVER: #03bcff !default;
$JUTRO--TOOLTIP-LINK-COLOR: #1dc3ff !default;
$JUTRO--TOP-NAV-ITEM-UNDERLINE-WIDTH: 0.25rem !default;
$JUTRO--Z-INDEX-1: 1 !default;
$JUTRO--Z-INDEX-2: 100 !default;
$JUTRO--Z-INDEX-3: 200 !default;
$JUTRO--Z-INDEX-4: 300 !default;
$JUTRO--merge--IMAGE-RADIO-BUTTON-ICON-BORDER-SELECTED-COLOR: #fff !default;
//$JUTRO--FONT-FAMILY: 'Source Sans Variable', 'Helvetica', 'Arial', sans-serif !default;
